@import '../node_modules/@splidejs/splide/dist/css/splide.min.css';

.my-slider-progress {
    background: #ccc;
}

.my-slider-progress-bar {
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
}

.splide__pagination{
    bottom: -60px;
}

.splide__pagination__page.is-active{
    background-color: #7295ff;
    transform: scale(1.3);
}

.splide__pagination button{
    width: 0.8em;
    height: 0.8em;
    background-color: #2e5ee9;
    opacity: 1;
}

li[role=presentation]{
    padding: 0 5px;
}

.splide__arrow svg{
    fill: white;
    width: 1.7em;
    height: 1.7em;
}

.splide__arrow--prev, .splide__arrow--next{
    background-color: #1A4AD7;
    width: 5em;
    height: 5em;
}

.splide__arrow--prev{
    left: 1em;
}

.splide__arrow--next{
    right: 1em;
}

@media screen and (max-width: 1024px){
    .splide__arrow svg{
        width: 1.5em;
        height: 1.5em;
    }

    .splide__arrow--prev, .splide__arrow--next{
        width: 5em;
        height: 5em;
    }

    .splide__arrow--prev{
        left: 1.4em;
    }

    .splide__arrow--next{
        right: 1.4em;
    }
}

@media screen and (max-width: 640px){
    .splide__arrow svg{
        width: 1.2em;
        height: 1.2em;
    }

    .splide__arrow--prev, .splide__arrow--next{
        width: 3.5rem;
        height: 3.5rem;
    }

    .splide__arrow--prev{
        left: 0.3em;
    }

    .splide__arrow--next{
        right: 0.3em;
    }
}